* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.logo-vertical {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 20px;
}

.menu-item-btn {
  height: 48px;
  width: 100%;
  box-shadow: none;
  display: flex;
  justify-content: flex-start;
  padding: 0 16px 0 24px;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
}

.menu-item-btn:hover span {
  color: #fff;
}

.menu-item-btn span {
  color: rgba(255, 255, 255, 0.65);
  transition: color 0.3s;
}

.ant-steps-item-content {
  margin-top: 4px !important;
}

.ant-steps-item-title {
  line-height: 1.5 !important;
}

.ant-steps-item-tail {
  top: 50% !important;
  padding: 0 25% !important;
}

@media screen and (max-width: 1400px) {
  .ant-steps-item-tail {
    padding: 0 40% !important;
  }
}
